.searchField {
  border-radius: 5px;
  padding: 0.5em;
  border-color: teal;
}

.searchContainer {
  grid-column: 1/2;
  margin: auto;
  width: 12em;
}

.searchResults {
  height: 80vh;
  overflow-x: hidden;
}

p:hover {
  color: lightseagreen;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: teal;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lightseagreen;
}
