.detailsContainer {
  max-width: min-content;
  min-width: 45em;
  min-height: min-content;
  display: flex;
  text-align: center;
  position: relative;
  margin: auto;
  margin-top: 4em;
  margin-bottom: 2em;
  border-radius: 5px;
  box-shadow: 0 4px 6px 0 rgba(129, 128, 128, 0.2),
    0 6px 20px 0 rgba(160, 156, 156, 0.19);
}

.userHeading {
  color: lightseagreen;
  margin: 0.25rem;
}

.userImage {
  height: 15em;
  width: 15em;
  border-radius: 50%;
  margin: 1.5em;
}

.userInfo {
  margin: auto;
  min-width: min-content;
}

.reposListContainer {
  border-left: 0.25px solid lightseagreen;
  text-align: right;
  font-size: small;
  min-width: 20em;
  max-width: min-content;
  min-height: min-content;
  padding-bottom: 1em;
}

.reposList {
  margin-right: 0.5em;
  min-height: min-content;
}
.reposHeading {
  display: flex;
  background-color: teal;
  color: white;
  justify-content: center;
  border-top-right-radius: 5px;
  margin-top: 0;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  font-size: medium;
}

.reposContainer {
  transition-duration: 0.4s;
}

.reposContainer:hover {
  color: lightseagreen;
}

.seperator {
  border-bottom: 0.5px solid lightseagreen;
}
/* 
Not Working:  aiming to remove the seperatorline on last child 
.reposContainer:last-child > .seperator {
  border-bottom: none;
  margin-bottom: 1em;
} */

.followersSection {
  display: flex;
  color: lightseagreen;
  justify-content: space-around;
  text-align: center;
}
